@model IEnumerable<RoomViewModel>

@{
    ViewData["Title"] = "Список кімнат";
}

<div class="container">
    <h1>Список кімнат</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Тип</th>
                <th>Місткість</th>
                <th>Ціна</th>
                <th>Зручності</th>
               
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
                <tr>
                    <td>@room.Number</td>
                    <td>@room.RoomType</td>
                    <td>@room.Capacity</td>
                    <td>@room.Price</td>
                    <td>
                        @if (room.AmentyViewModels != null)
                        {
                        
                             @foreach (var amenity in room.AmentyViewModels)
                             {
                                  <span>@amenity.Name</span>
                             }
                        }
                    </td>
                    
                    <td>
                        <a asp-action="Details" asp-route-id="@room.Id" class="btn btn-secondary">Деталі</a>
                        <a asp-action="Edit" asp-route-id="@room.Id" class="btn btn-primary">Редагувати</a>
                        <a asp-action="Delete" asp-route-id="@room.Id" class="btn btn-danger">Видалити</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Create" class="btn btn-primary">Додати нову кімнату</a>
</div>
